[Unit]
Description=Run backup-etc script every 5 minutes
Requires=backup-etc.service
[Timer]
# Run every 5 minutes
OnBootSec=1min
Unit=backup-etc.service
OnUnitActiveSec=5m

#Specify the accuracy the timer shall elapse with. Defaults to 1min. 
AccuracySec=1us


[Install]
WantedBy=timers.target